<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca de nosotros</h2>
                    <h3 class="section-subheading text-muted">Tenemos mas de 10 años de experiencia y hemos realizado mas de 500 aplicaciones.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                	<p class="section-subheading text-muted">
                    	Nuestra metodologia de trabajo
                    </p>
                    <img src="/img/scrum.png" alt="" style="float:left;"/>
                    <div class="section-subheading text-muted" style="padding:5px;">
                    	&nbsp; Scrum is an Agile framework for completing complex projects. Scrum originally was formalized for software development projects, but it works well for any complex, innovative scope of work. The possibilities are endless. The Scrum framework is deceptively simple.
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Qué es un ERP?</h2>
                </div>
            </div>

            <div class="row">
            	<div class="col-lg-12">
                    <p class="section-subheading text-muted">
                    Los sistemas de planificación de recursos empresariales (Enterprise Resource Planning) manejan la producción, logística, distribución, inventario, envíos, facturas y contabilidad de la compañía de forma modular.
                    <br>
                    <br>
                    La planificación de recursos empresariales (ERP), interviene en el control de muchas actividades de negocios como ventas, entregas, pagos, producción, administración de inventarios, calidad de administración y la administración de recursos humanos.
                    <br>
                    <br>
					El propósito del software ERP es apoyar a los clientes de la empresa, dar tiempos rápidos de respuesta a sus problemas, así como un eficiente manejo de información que permita la toma de decisiones y minimizar los costos.
					<br>
					Nuestra soluciones funcionan en todo tipo de empresas cualquiera sea su tipo, rubro o tamaño y su gran flexibilidad permite adaptarse a los distintos procesos, recursos y métodos disponibles.</p>
				</div>
			</div>
        </div>
    </section>