<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Desarrollo de software ágil con foco en la calidad y la experiencia de usuario.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Odoo ERP</h4>
                    <p class="text-muted">Desarrollo e implantación de soluciones a medida basadas en el software open source para planificacion de recursos empresariales (ERP) Odoo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarrollo de aplicaciones a medida</h4>
                    <p class="text-muted">Contamos con amplia experiencia desarrollando aplicaciones para satisfacer las necesidades del cliente.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoría</h4>
                    <p class="text-muted">Brindamos asesoramiento y consultoria para mejorar su cometitividad, aumentando la satisfaccion de sus clientes y optimizando la gestion de sus procesos, personas y recursos.</p>
                </div>
            </div>
        </div>
    </section>